scipy==1.10.0
spacy==3.5.3
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.5.0/en_core_web_trf-3.5.0-py3-none-any.whl
torch==2.0.1
nltk==3.7
transformers==4.24.0
